.edit-profile-form {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.edit-profile-heading-container {
  align-self: center;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 15px rgb(89, 88, 88);
  padding: 1rem;
  width: 100%;
  max-width: 20rem;
}

.edit-profile-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #111827;
}

.edit-profile-input-container {
  margin-top: 1rem;
}

.edit-profile-btn-class {
  display: flex;
  padding: 0.625rem 1rem;
  border-width: 0;
  cursor: pointer;
  background-color: #00b6d9;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  width: 9rem;
  border-radius: 0.375rem;
}

.edit-profile-btn-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-link {
  font-size: 14px;
  text-align: center;
  color: #000;
}

.bottom-link-btn {
  cursor: pointer;
}

.custom-thumbnail {
  margin-top: 10px;
}

.custom-thumbnail img {
  border: 2px solid #3498db;
  border-radius: 2px;
  width: 33.33%;
}

.file-input {
  padding: 0.75rem;
  text-align: left;
  width: 100%;
  border-radius: 0.375rem;
  border: thin solid gray;
  outline: 0;
  height: 1.25rem;
}

.select-div {
  display: flex;
  position: relative;
  width: 100%;
}

.select-dropdown {
  padding: 0.75rem;
  text-align: left;
  width: 100%;
  border-radius: 0.375rem;
  border: thin solid gray;
  outline: 0;
  height: 2.85rem;
  background: #fff;
}

.flex-form {
  display: flex;
  gap: 1rem;
}
